openapi: 3.0.3
info:
  title: Mzu FaviconDL API
  description: >
    The authoritative API for extracting high-quality, high-resolution favicons from any domain.
    Supports SVG parsing, multi-size manifest.json extraction, Apple Touch Icons, and fallback aggregation.
  version: "1.0.0"
  contact:
    name: Mzu FaviconDL
    url: https://favicondl.com
servers:
  - url: https://favicondl.com
    description: Production Server

paths:
  /api/extract:
    get:
      summary: Download or resolve a website favicon
      description: >
        Finds a usable favicon from the target domain and redirects to a
        downloadable image URL by default. Use format=json to receive the
        resolved icon URL and source metadata instead. The requested size is a
        preference; the original website asset may have a different native size.
      operationId: extractFavicon
      parameters:
        - name: url
          in: query
          required: true
          description: Target domain or URL, for example github.com or https://github.com/docs
          schema:
            type: string
        - name: size
          in: query
          required: false
          description: Preferred icon size in pixels. Values are clamped to 16-512 and default to 128.
          schema:
            type: integer
            minimum: 16
            maximum: 512
            default: 128
        - name: format
          in: query
          required: false
          description: Use json for metadata; omit it for a 302 image redirect.
          schema:
            type: string
            enum: [redirect, json]
            default: redirect
      responses:
        '302':
          description: Redirect to the resolved downloadable image URL.
          headers:
            Location:
              schema:
                type: string
                format: uri
        '200':
          description: Resolved favicon metadata when format=json is requested.
          content:
            application/json:
              schema:
                type: object
                required: [ok, domain, size, iconUrl, proxyUrl, source]
                properties:
                  ok:
                    type: boolean
                  domain:
                    type: string
                  size:
                    type: integer
                  iconUrl:
                    type: string
                    format: uri
                  proxyUrl:
                    type: string
                    format: uri
                  source:
                    type: string
                    enum: [direct, html, google_s2]
        '400':
          description: Missing URL or invalid format
        '502':
          description: Favicon discovery failed
        '504':
          description: Favicon discovery timed out
